
* {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
:root{
    --noknok-beige: #FFFBCC;
    --noknok-green: #154222;
}
/** { border: 1px solid red !important; }*/

html {
    height: 100%;
}

body {
    min-height: 100%;
    line-height: 1.5;
    text-align: center;
    background-color: var(--noknok-beige);
    color: var(--noknok-green);
    transition: .2s background-color .2s ease-out;
    font-family: 'cardinalfruit-medium', serif;
}

.wrapper {
    padding: 1rem;
    max-width: 650px;
    margin: 0 auto;
}

.hiddenBg{
    background-image: url('../img/fx.png');
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    top: -10000px;
    left: -10000px;
}

header {
    margin: 0 0 1rem 0;
}

.logo {
    letter-spacing: -1px;
    word-spacing: -0.1rem;
}
.info {
    font-family: sans-serif;
}

.title {
    font-size: 3rem;
    text-align: center;
    line-height: 1.3;
}

@media only screen and (min-width: 600px) {
    header {
        margin: 1rem 0 3rem 0;
    }
    .title {
        font-size: 6rem;
        margin: 0 0 1rem 0;
    } 
    .info {
        font-size: 1.25rem;
    }
    
}


.numbers {
    position: relative;
    top: 3rem;
}

#tapperWrapper {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 20rem;
    
}

@media only screen and (min-height: 900px) {
    #tapperWrapper {
        bottom: 2rem;
        transform: translate(50%, 0);
        width: 20rem;
        right: 50%;
    }
}

@media only screen and (min-height: 800px) and (min-width: 850px) {
    #tapperWrapper {
        width: 25rem;
    }
}

@media only screen and (max-width: 900px) {
    #tapperWrapper {
        max-width: 10rem;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.numbers span {
    display: block;
}


#tapCount {
    font-size: 5rem;
    display: block;
    line-height: 1;
    transform: scale(1);
    transition: .2s all .3s ease-out;
}

@media only screen and (min-width: 600px) {
    #tapCount {
        font-size: 12rem;
        transform: scale(1);
    }
}

@media only screen and (min-height: 900px) {
    #tapCount {
        font-size: 8rem;
    }
}

#timer {
    font-size: 2rem;
    margin: -.5rem 0 0 0;
}

#tapper .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#tapper{
    background: transparent;
    border: 0;
    height: auto;
    padding: 0;
    position: relative;
    display: block;
    outline: none;
    cursor: pointer;
    transform: translate(0, 0);
}


#tapper span {
    width: 100%;
    height: 100%;
    display: block;
}

#tapper .fx {
    position: absolute;
    top: 0;
    opacity: 0;
    transform: scale(1.2) translate(10px, 35px) rotate(10deg);
}

#tapper:active .hand {
    transform: translate(0, 0);
    transform: scale(1) rotate(0deg);
}

#tapper:active .hand {
    transform: translate(0, 2px);
    transform: rotate(3deg);
}

#tapper:active .fx{
    opacity: 1;
}

#tapper:focus {
    outline: none;
    box-shadow: none;
}

#tapper:disabled,
    #tapper[disabled]{
    opacity: .1;
    pointer-events: none;
}

.refresh{
    opacity: 0;
    background: transparent;
    color: var(--noknok-beige);
    border: 1px solid var(--noknok-beige);
    border-radius: 30px;
    padding: 1rem;
    transition: .2s opacity 1s ease-out;
    outline: 0;
    text-decoration: none;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
}

[data-done="true"] .refresh{
    opacity: .8;
}

[data-active="true"] #timer {
    opacity: .4;
}

[data-active="false"] #timer {
    opacity: 0;
}
[data-done="true"] #logo {
    opacity: .1;
}

[data-done="true"] {
    background: var(--noknok-green);
}
[data-done="true"] #tapCount {
    color: var(--noknok-beige);
    transform: scale(2);
}